{% extends 'base.html' %}

{% block head %}
<title>Add Contact</title>
{% endblock %}

{% block body %}
<div>
    <fieldset>
        <h1>Add New Contact</h1>
        <hr>
    <form action="/add" method = "POST">
        <div class = "aligner">
        <label for="name">Name</label>
        <input type="text" name = "name" id = "name" placeholder="Name">
        </div>
        <div class = "aligner">
        <label for="email">Email</label>
        <input type="email" name = "email" id = "email" placeholder="Email">
        </div>
        <div class = "aligner">
        <label for="number">Number</label>
        <input type="number" name = "phone" id = "phone" placeholder="Number">
        </div>
        <div class = "Adder">
        <button type="button" onclick="window.location.href='/'">Cancel</button>
        <input type="submit" value = "Add Contact">
        </div>
    </form>
    </fieldset>
</div>
{% endblock %}