<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class = "mover">
        <div class="divider">
    <img src= "{{ url_for('static', filename='community-group-leader-svgrepo-com.png') }}" alt="phoneLogo" id = "phoneLogo"><h1 id = "title1">SmartBook</h1>
        </div>
    <p id = "para1">Manage your contacts easily!!</p>
    </div> 
    {% block body %}{% endblock %}
    <script src = "{{url_for('static', filename='script.js')}}"></script>
</body>
</html>