{% extends 'base.html' %}

{% block head %}
<title>Edit Contact</title>
{% endblock %}

{% block body %}
<div>
    <fieldset>
    <h1>Edit Contact</h1>
    <hr>
    <form action="/edit/{{contact.id}}" method = "POST" id = "editForm">
        <div class = "aligner">
        <label for="name">Name</label>
        <input type="text" name = "name" id = "name" placeholder="Name" value = "{{contact.name}}" required>
        </div>
        <div class = "aligner">
        <label for="email">Email</label>
        <input type="email" name = "email" id = "email" placeholder="Email" value = "{{contact.email}}" required>
        </div>
        <div class = "aligner">
        <label for="number">Phone Number</label>
        <input type="text" name = "phone" id = "phone" placeholder="Number" value = "{{contact.phone}}" required>
        </div>
        <div class = "Adder">
        <button type="button" onclick="window.location.href='/'">Cancel</button>
        <input type="submit" value = "Update Contact" id = "update">
        </div>
    </form>
    </fieldset>
</div>
{% endblock %}