{% extends 'base.html' %}

{% block head %}
<title>PhoneBook app</title>
{% endblock %}

{% block body %}

<form action="/" method="GET">
    <div id = "former">
    <input type="text" name = "query" id = "searchBar" placeholder="Search contacts by name, email, or phone">
    <button type="submit" id="Search">
    🔍
    </button>
    </div>
</form>
<a href="/add"><button class = "contacter">+Add New Contact</button></a>
{% if message %}
   <h1 id = "Contacters">{{ message }}</h1>
   {% if show_clear_button %}
<button type="button" onclick="window.location.href='/'" class = "contacter">Cancel Search</button>
   {% endif %}
<div>
{% elif contacts | length < 1 %}
    <h1>There are no contacts added, create one here!</h1>
{% else %}
    {% for contact in contacts %}
    <div class = "ContactsList">
    <div class = "ContactInfo">
    <h1>{{contact.name}}</h1>
    <p>{{contact.phone}}</p>
    <p>{{contact.email}}</p>
    </div>
    <div class = "Boxers">
        <a href="/edit/{{contact.id}}"><img src="{{ url_for('static', filename='edit-3-svgrepo-com.png') }}" alt="editLogo"></a> 
        <a href="/delete/{{contact.id}}"><img src="{{ url_for('static', filename='trash-alt-svgrepo-com.png') }}" alt="deleteLogo" id = "delete"></a>
    </div>
    </div>
    {% endfor %}
    {% if show_clear_button %}
<button type="button" onclick="window.location.href='/'" class = "contacter">Cancel Search</button>
    {% endif %}
 {% endif %}
</div>
{% endblock %}