{% extends 'base.html' %}

{% block head %}
<title>PhoneBook app</title>
{% endblock %}

{% block body %}

<div id = "former">
<form action="/" method="GET">
    <div class = "Wrapper">
    <input type="text" name = "query" id = "searchBar" placeholder="Search contacts by name, email, or phone">
    </div>
    <button type="submit" id="Search">
    🔍
    </button>
</form>
<a href="/add"><button class = "contacter">
    <img src="{{ url_for('static', filename='add-contact-svgrepo-com.png') }}" alt="addContact">
    <span>Add Contact</span>
</button></a>
</div>
{% if message %}
<div class = "NoContact1">
   <h1 id = "Contacters">{{ message }}</h1>
</div>
   {% if show_clear_button %}
<button type="button" onclick="window.location.href='/'" class = "contacter">Cancel Search</button>
   {% endif %}
<div>
{% elif contacts | length < 1 %}
<div class = "NoContact">
    <img src="{{ url_for('static', filename='contact-new-symbolic-svgrepo-com.png') }}" alt="contact">
    <h1>There are no contacts added, create one here!</h1>
</div>
{% else %}
    {% for contact in contacts %}
    <div class = "ContactsList">
    <div class = "ContactInfo">
    <div class = "flexer">
    <img src="{{ url_for('static', filename='profile-circle-svgrepo-com.png') }}" alt="phoneImg" class = "phoneImg"><h1>{{contact.name}}</h1>
    </div>
    <div class = "flexer">
    <img src="{{ url_for('static', filename='phone-svgrepo-com.png') }}" alt="phoneImg" class = "phoneImg"><p>{{contact.phone}}</p>
    </div>
    <div class = "flexer">
     <img src="{{ url_for('static', filename='email-svgrepo-com.png') }}" alt="phoneImg" class = "phoneImg"><p>{{contact.email}}</p>
    </div>
    </div>
    <div class = "Boxers">
        <a href="/edit/{{contact.id}}"><img src="{{ url_for('static', filename='edit-3-svgrepo-com.png') }}" alt="editLogo" id = "editer"></a> 
        <a href="/delete/{{contact.id}}"><img src="{{ url_for('static', filename='trash-alt-svgrepo-com.png') }}" alt="deleteLogo" id = "delete"></a>
    </div>
    </div>
    {% endfor %}
    {% if show_clear_button %}
<button type="button" onclick="window.location.href='/'" class = "contacter">Cancel Search</button>
    {% endif %}
 {% endif %}
</div>
{% endblock %}