{% extends 'base.html' %}

{% block head %}
<title>PhoneBook app</title>
{% endblock %}

{% block body %}

<form action="/" method="GET">
    <input type="text" name = "query" id = "searchBar" placeholder="Search contacts by name, email, or phone">
    <input type="submit" value = "Search Contact">
</form>
<a href="/add"><p>Add New Contact</p></a>
{% if message %}
   <h1>{{ message }}</h1>
   {% if show_clear_button %}
<button type="button" onclick="window.location.href='/'">Cancel Search</button>
   {% endif %}
<div>
{% elif contacts | length < 1 %}
    <h1>There are no contacts added, create one here!</h1>
{% else %}
    {% for contact in contacts %}
    <div>
    <h1>{{contact.name}}</h1>
    <p>{{contact.phone}}</p>
    <p>{{contact.email}}</p>
    </div>
    <div>
        <a href="/edit/{{contact.id}}">edit</a>
        <a href="/delete/{{contact.id}}">delete</a>
    </div>
    {% endfor %}
    {% if show_clear_button %}
<button type="button" onclick="window.location.href='/'">Cancel Search</button>
    {% endif %}
 {% endif %}
</div>
{% endblock %}